<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_DIR" value="log/"/>
    <property name="PATTERN_TIME"
              value="%-30(%d{HH:mm:ss, GMT+7} [%thread]) %-40logger{5}%-40(%M:%L) %-5level:   %msg%n"/>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/swarauto-desktop.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/swarauto-desktop_%d{yyyy-MM-dd, GMT+7}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN_TIME}</pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_TIME}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>